mixin main
    .main
        .container.container--lg
            .row
                .col-12
                    .main__letter
                        p Roy Batty, 2019
                        h1 Like Tears In Rain
                        h3 Where am I going? How long have I got?
                        .main__text
                            p I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched C-beams glitter in the dark near the Tannhauser gate. All those moments will be lost in time... like tears in rain... <span style="font-style:italic">Time to die.</span>
                            p I don't know why he saved my life. Maybe in those last moments he loved life more than he ever had before. Not just his life - anybody's life; my life. All he'd wanted were the same answers...
                    .main__input
                        p Title
                        p.main__title Like Tears In Ra <span class="main__cursor"></span>
                        hr.line
                    .main__editor
                        .main__image
                            img(src="./img/ic_format_color_text_white_24dp.png" alt="Text Color")
                        .main__image
                            img(src="./img/ic_format_size_white_24dp.png" alt="Text Size")
                        .main__image
                            img(src="./img/ic_insert_photo_white_24dp.png" alt="Insert Image")
                        .main__image
                            img(src="./img/ic_format_bold_white_24dp.png" alt="Bold Text")
                        .main__image
                            img(src="./img/ic_format_italic_white_24dp.png" alt="Italic Text")
                        .main__image
                            img(src="./img/ic_format_underline_white_24dp.png" alt="Underline Text")
                        .main__image
                            img(src="./img/ic_format_align_justify_white_24dp.png" alt="Justify Text")
                        .main__image
                            img(src="./img/ic_format_align_left_white_24dp.png" alt="Align Left")
                        .main__image
                            img(src="./img/ic_format_align_center_white_24dp.png" alt="Align Center")
                        .main__image
                            img(src="./img/ic_format_align_right_white_24dp.png" alt="Align Right")
                    