mixin main
    .main
        .container.container--lg
            .row
                .col-12
                    .main__letter
                        p Roy Batty, 2019
                    .main__input
                        p Title
                        p Like Tears in Ra
                    .main__editor
                        p tester
                    