mixin main
    .main
        .container.container--lg
            .row
                .col-12
                    .main__letter
                        p Roy Batty, 2019
                    .main__input
                        p Title
                        p.title Like Tears In Ra <span class="main__cursor"></span>
                        hr.line
                    .main__editor
                        p tester
                    