.main {
    /* Style for "Main Backgroun" */
 
    background-color: #464f54;
    padding-top: 150px;
    // background-image: url('../img/document_background.png');
    // background-repeat: no-repeat;
    // background-position: top;


    

    &__letter {
        position: relative;
        background-color: white;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.22);
        padding-top: 200px;
        margin-left: 55px;
        margin-right: 55px;
        padding-left: 125px;
        color: #b4b4b4;
        font-family: 'proxima_novaregular';
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 7px;
        
    }

    &__text {
        color: black;
        font-family: Georgia;
        font-size: 27px;
        line-height: 40px;
        padding-right: 110px;
        /* Text style for "I've seen thin" */
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        /* Text style for "Time to die." */
        
    }

    &__text p:first-of-type {
        padding-bottom: 23px;
    }

    &__letter h1 {
        color: #2a2a2a;
        font-family: 'Futura PT';
        font-size: 78px;
        font-weight: 800;
        line-height: 74px;
        text-transform: uppercase;
        padding-bottom: 5px;
        letter-spacing: 4px;
        margin-left: -1px;
    }

    &__letter p {
        padding-bottom: 51px;
    }

    &__letter p:first-of-type {
        padding-bottom: 34px;
    }

    &__letter h3 {
        color: #8f8f8f;
        font-family: 'Georgia';
        font-size: 30px;
        font-style: italic;
        line-height: 6px;
        text-transform: none;
        letter-spacing: normal;
        padding-bottom: 60px;
    }

    &__input {

        position: absolute;
        font-family: 'proxima_novaregular';
        color: #767676;
        font-size: 15px;
        font-weight: 400;
        
        padding-left: 63px;
        text-transform: uppercase;
        top: -103px;
        right: -1px;
        width: 876px;
        height: 187px;
        letter-spacing: 8px;
        background-color: #181818;
        box-shadow: -3.5px -3.5px 59px rgba(0, 0, 0, 0.16);

    }

    &__title {
            color: #fefefe;
            font-family: 'Playfair Display', serif;
            font-size: 48px;
            font-weight: 400;
            margin-top: 8px;
            text-transform: none;
            letter-spacing: normal;
            margin-bottom: 14px;
            
            
        }

    &__input p {
        margin-top: 50px;
    }

    &__input p:nth-child(2) {
        margin-top: 8px;
    }


    .line {
        height: 3px;
        opacity: 0.1;
        background-color: white;
    }
  
    &__editor {
        position: absolute;
        display: flex;
        padding-top: 22px;
        padding-left: 43px;
        top: 84px;
        right: -63px;
        margin-right: 50px;
        width: 876px;
        height: 76px;
        background-color: #fbc02d;
        box-shadow: -3.5px -3.5px 59px rgba(0, 0, 0, 0.16);
    }

    &__image {
        padding-right: 23px;
        
        
    }

    &__image:nth-child(2) {
        padding-right: 30px;
    }

    &__image:nth-child(3) {
        padding-right: 32px;
    }

    &__image:nth-child(4) {
        padding-right: 40px;
    }

    &__image:nth-child(5) {
        padding-right: 41px;
    }

    &__image:nth-child(6) {
        padding-right: 38px;
    }

    &__image:nth-child(7) {
        padding-right: 32px;
    }

    &__image:nth-child(8) {
        padding-right: 31px;
    }

    &__image:nth-child(9) {
        padding-right: 31px;
    }

    &__image:nth-child(10) {
        padding-right: 0px;
    }

    &__image:hover {
        filter: brightness(400%);
    }
}