body {
    font-family: inherit;
}

html {
    font-family: 'proxima_novaregular';
    font-family: 'Playfair Display', serif;
    font-family: 'Futura PT';
    font-family: 'Georgia';
}

.container--lg {
    max-width: 1200px;
}